.DS_Store
.dart_tool/
.packages
build/
.pub-cache/
.pub/
/build/
*.iml
*.ipr
*.iws
.idea/
.vscode/
*.swp
*.log
sprint_diary/build/
sprint_diary/.dart_tool/
sprint_diary/android/
sprint_diary/ios/
sprint_diary/macos/
sprint_diary/linux/
sprint_diary/windows/
sprint_diary/web/
